.buttonWrapper.small {
    height: 40px;
    width: 40px;
}

.buttonWrapper.normal {
    height: 80px;
    width: 80px;
}

.buttonWrapper.large {
    height: 128px;
    width: 128px;
}

.button {
    background-color: #d3d3d3;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-out;
    height: 100%;
    width: 100%;
}

.button:hover {
    background-color: #e3e3e3;
}

.button.small {
    padding: 2px 0 0;
    height: 40px;
    width: 40px;
}

.button.normal {
    padding: 6px 0 0;
    height: 80px;
    width: 80px;
}

.button.large {
    padding: 8px 0 0;
    height: 128px;
    width: 128px;
}
